@import url("library/css/animate.min.css");
@import url("library/css/bootstrap-icons.css");
@import url("library/css/loading.css");
@import url("library/css/roboto.css");

:root {
    --body-font: 'Roboto', System-ui;
    
    --font-size: 0.8;

    --font-size-normal: 0.8rem;
    --font-size-small: 0.72rem;
    --font-size-tiny: 0.64rem;
  
    --font-thin: 100;
    --font-normal: 300;
    --font-thick: 600;

    --delay: 200ms;
    --animate-duration: 800ms;

    --min-width: 280px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: font-size 50ms, filter 300ms;
}

body {
    font-family: var(--body-font), 'Helvetica';
    font-size: var(--font-size-normal);

    background-color: var(--color-background);
    color: var(--color-text);

    text-rendering: optimizeLegibility;
}

html, body, 
._window_, 
._modal_, ._toast_, 
.hw, .noscript {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html, body, 
._window_, 
._modal_, ._toast_, 
.hw, .noscript, .mw {
    min-width: var(--min-width);
}

.noscript {
    background-color: white;
    transition: background-color var(--delay);
    display: grid;
    place-content: center;
}
.noscript > div.ns_div {
    height: 100%;
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 144px auto;
    grid-gap: 16px;
    padding: 48px;
}
.noscript > div.ns_div > div.ns_image > img { height: 144px; }
.noscript > div.ns_div > div.ns_image,
.noscript > div.ns_div > div.ns_text {
    display: grid;
    place-content: center;
    font-size: 1.0rem;
}
.noscript > div.ns_div > div.ns_text > h1 {
    margin-bottom: 8px;
}

@media (max-width: 720px) {
    body {
        --font-size: 0.72;
        font-size: var(--font-size-small);
    }
    .noscript > div.ns_div { display: block; }
    .noscript > div.ns_div > div.ns_image { position: absolute; margin-top: -156px; }
}

@media (max-width: 480px) {
    body {
        --font-size: 0.64;
        font-size: var(--font-size-tiny);
    }
}

._window_ {
    overflow-y: auto;
    overflow-x: hidden;
}

._modal_, ._toast_ {
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}

._toast_ { position: fixed !important; }

.hidden { display: none !important; }
.blur { filter: blur(2px); }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(90, 90, 90); 
    border-radius: 8px;
    transition: background-color 300ms;
}
 
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(120, 120, 120); 
}

/* ===== INDEX CSS ===== */

._homepage {
    height: 100%;
    width: 100%;
    background: linear-gradient(340deg, rgb(180 190 200) 0%, rgb(240 240 250) 100%);
}

._homepage div.margin {
    padding-left: 40px;
    padding-right: 40px;
    transition: padding 200ms;
}

._homepage > div.header {
    display: flex;
    justify-content: center;
}

._homepage > div.header > div.container {
    height: 72px;
    width: 100%;
    max-width: 1560px;
    display: flex;
    justify-content: space-between;
}
._homepage > div.header > div.container > div.title {
    grid-gap: 8px;
}
._homepage > div.header > div.container > div.title > img {
    height: 48px;
}
._homepage > div.header > div.container > div.title > h1 {
    font-weight: 600;
    cursor: default;
}
._homepage > div.header > div.container > div {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
._homepage > div.header > div.container > div.content > p {
    padding: 12px;
    font-size: 100%;
    background-color: transparent;
    border-radius: 8px;
    border-style: none;
    transition: color 200ms, background-color 200ms, font 200ms;
    color: rgb(120,120,120);
    cursor: pointer;
    font-weight: 400;
}
._homepage > div.header > div.container > div.content > p:hover,
._homepage > div.header > div.container > div.content > p.active,
._homepage > div.header > div.container > div.content > p.active:hover {
    color: rgb(0,0,0);
}
._homepage > div.header > div.container > div.content > p.active,
._homepage > div.header > div.container > div.content > p.active:hover {
    cursor: default;
    font-weight: 600;
    font-size: 108%;
}

._homepage > div.header > div.container > i.icon,
._homepage > div.header > div.container > div.content > p.icon { 
    display: none;
    cursor: pointer;
}

._homepage > div.body {
    display: flex;
    justify-content: center;
    height: calc(100% - 72px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
._homepage > div.body > div.container {
    height: calc(100% - 12px);
    width: 100%;
    max-width: 1440px;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (max-width: 1200px) {
    ._homepage > div.header > div.container > i.icon { 
        display: grid;
        align-content: center;
        font-size: 200%;
    }

    ._homepage > div.header > div.container > div.content {
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 280px;
        display: block;
        top: 0;
        right: 0;
        text-align: right;
        padding: 16px 32px 32px;
        background-color: white;
        transform: translateX(280px);
    }
    ._homepage > div.header > div.container > div.content > p {
        font-size: 120%;
    }
    ._homepage > div.header > div.container > div.content > p.active {
        background-color: rgba(201, 201, 201, 0.3);
    }
    
    ._homepage > div.header > div.container > div.active {
        transform: translateX(0px) !important;
        transition: transform 280ms, width 200ms;
    }

    ._homepage > div.header > div.container > div.inactive {
        transition: transform 280ms, width 200ms;
    }

    ._homepage > div.header > div.container > div.content > p.icon { 
        display: block;
    }
}

@media (max-width: 480px) {

    ._homepage div.margin {
        padding-left: 16px;
        padding-right: 16px;
    }

}

@media (max-width: 320px) {
    ._homepage > div.header > div.container > div.content {
        width: 100%;
        transform: translateX(480px);
    }
}