/* spicy-rice-regular - latin */
@font-face {
    font-family: 'Spicy Rice';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/spicy-rice-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/spicy-rice-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/spicy-rice-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/spicy-rice-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/spicy-rice-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/spicy-rice-v19-latin-regular.svg#SpicyRice') format('svg'); /* Legacy iOS */
}