.__btn {
    font-size: 90%; 
    padding: 10px; 
    background: var(--clr-dark);
    color: var(--clr-white); 
    border-radius: 4px; 
    border-style: none;
    cursor: pointer;
    position: relative;
    transition: background-color 200ms;
}

.__btn.noclick { cursor: default; }
.__btn.btn-primary { background: var(--clr-primary); }
.__btn.btn-primary:hover { background: var(--clr-primary-hover); }
.__btn.btn-secondary { background: var(--clr-secondary); }
.__btn.btn-secondary:hover { background: var(--clr-secondary-hover); }
.__btn.btn-info { background: var(--clr-info); }
.__btn.btn-info:hover { background: var(--clr-info-hover); }
.__btn.btn-success { background: var(--clr-success); }
.__btn.btn-success:hover { background: var(--clr-success-hover); }
.__btn.btn-warning { background: var(--clr-warning); color: var(--clr-black) !important; }
.__btn.btn-warning:hover { background: var(--clr-warning-hover); }
.__btn.btn-danger { background: var(--clr-danger); }
.__btn.btn-danger:hover { background: var(--clr-danger-hover); }
.__btn.btn-light { background: var(--clr-light); color: var(--clr-black) !important; }
.__btn.btn-light:hover { background: var(--clr-light-hover); }
.__btn.btn-dark { background: var(--clr-dark); }
.__btn.btn-dark:hover { background: var(--clr-dark-hover); }
.__btn.btn-link { background: transparent; color: var(--clr-link); text-decoration: underline; }
.__btn.btn-link:hover { color:  var(--clr-link-hover); }

.__btn.mlr-2 { margin-left: 2px; margin-right: 2px; }
.__btn.mud-8 { margin-top: 8px; margin-bottom: 8px; }

.__btn.relative { position: relative; }

.__btn > .badge {
    background: red; 
    border-radius: 100%; 
    width: 16px; 
    height: 16px; 
    position: absolute; 
    top: -4px; 
    right: -4px;
    animation-name: on;
    animation-duration: 200ms;
}
.__btn > .badge.off {
    transform: scale(0%);
    animation-name: off;
    animation-duration: 200ms;
}
@keyframes on {
    from { transform: scale(0%); }
    to { transform: scale(100%); }
}
@keyframes off {
    from { transform: scale(100%); }
    to { transform: scale(0%); }
}
  