:root {
    --clr-blue: #0d6efd;
    --clr-indigo: #6610f2;
    --clr-purple: #6f42c1;
    --clr-pink: #d63384;
    --clr-red: #dc3545;
    --clr-orange: #fd7e14;
    --clr-yellow: #ffc107;
    --clr-green: #198754;
    --clr-teal: #20c997;
    --clr-cyan: #0dcaf0;
    --clr-white: #fff;
    --clr-gray: #6c757d;
    --clr-gray-dark: #343a40;
    --clr-black: #000000;
    
    --clr-primary: hsl(220, 100%, 50%);
    --clr-primary-hover: hsl(220, 100%, 40%);

    --clr-secondary: hsl(0, 0%, 40%);
    --clr-secondary-hover: hsl(0, 0%, 30%);

    --clr-success: hsl(150, 70%, 30%);
    --clr-success-hover: hsl(150, 70%, 25%);

    --clr-info: hsl(190, 100%, 30%);;
    --clr-info-hover: hsl(190, 100%, 25%);;

    --clr-warning: hsl(45, 100%, 50%);
    --clr-warning-hover: hsl(45, 100%, 45%);

    --clr-danger: hsl(356, 70%, 50%);
    --clr-danger-hover: hsl(356, 70%, 40%);

    --clr-light: hsl(0, 0%, 96%);
    --clr-light-hover: hsl(0, 0%, 86%);

    --clr-dark: hsl(210, 5%, 15%);
    --clr-dark-hover: hsl(210, 5%, 05%);

    --clr-link: hsl(220, 80%, 50%);
    --clr-link-hover: hsl(220, 80%, 30%);
}

.__text_primary {
    color : var(--clr-primary);
}