.__modal {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.5);
    pointer-events: all;
}

.__modal > div {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.__modal > .center {
    display: grid;
    place-content: center;
}

.__modal_blur { filter: blur(2px); }