._index_system {
    height: 100%;
    width: 100%;
}

._index_system > h1 {
    padding: 0 0 8px;
    text-align: center;
    font-size: 320%;
    font-weight: 300;
}
._index_system > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 64px;
    grid-gap: 40px;
}

._index_system > div > div {
    background: linear-gradient(340deg, rgb(255 255 255) 0%, rgb(219 219 219) 100%);
    box-shadow: 20px 20px 32px 8px rgb(0 0 0 / 40%);
    width: 320px;
    border-radius: 24px;
    transition: transform 200ms, box-shadow 200ms;
}
._index_system > div > div:hover {
    transform: scale(116%);
    box-shadow: 20px 32px 48px 8px rgb(0 0 0 / 40%);
}
._index_system > div > div > img {
    width: calc(100% - 24px);
    margin: 12px;
    border-radius: 24px;
    transition: transform 200ms, box-shadow 200ms;
}
/*
._index_system > div > div > img:hover {
    transform: scale(160%) translateY(-24px);
    box-shadow: 0px 28px 20px 0px rgb(0 0 0 / 40%)
}
*/
._index_system > div > div > h1 {
    text-align: center;
    padding: 0 8px 16px;
    font-weight: 600;
    font-size: 200%;
}
._index_system > div > div > p {
    padding: 0 16px 24px;
    font-size: 140%;
    height: 96px;
}
._index_system > div > div > button {
    width: calc(100% - 32px);
    margin: 0 16px 12px;
    padding: 12px;
    font-size: 140%;
    border-radius: 8px 8px 12px 12px;
}