._index_home {
    width: calc(100% - 48px);
    height: 100%;
    margin: 24px;
    padding-bottom: 48px;

    display: grid;
    grid-template-columns: 40% 60%;
}

@media (max-width: 1200px) {
    ._index_home {
        display: block;
    }
    ._index_home > div.images {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    ._index_home > div.welcome > div {
        padding: 0px !important; 
    }
}

._index_home > div.images {
    display: grid;
    grid-template-columns: 50% 50%;
    place-content: center;

    padding-left: 8px;
    padding-right: 8px;
}

._index_home > div.images > img {
    height: calc(48vh - 80px);
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 20px 20px 32px 8px rgb(0 0 0 / 40%);
    transition: transform 200ms, box-shadow 200ms;
    border-radius: 12px;
}
._index_home > div.images > img:first-child {
    transform: rotate(4deg) scale(80%);
}
._index_home > div.images > img:first-child:hover {
    transform: scale(88%);
    box-shadow: 20px 20px 40px 8px rgb(0 0 0 / 50%);
}
._index_home > div.images > img:nth-child(2) {
    transform: rotate(-2deg) scale(96%);
}
._index_home > div.images > img:nth-child(2):hover {
    transform: scale(102%);
    box-shadow: 20px 20px 40px 8px rgb(0 0 0 / 50%);
}
._index_home > div.images > img:nth-child(3) {
    transform: rotate(2deg) scale(96%);
}
._index_home > div.images > img:nth-child(3):hover {
    transform: scale(102%);
    box-shadow: 20px 20px 40px 8px rgb(0 0 0 / 50%);
}
._index_home > div.images > img:last-child {
    transform: rotate(-4deg) scale(80%);
}
._index_home > div.images > img:last-child:hover {
    transform: scale(88%);
    box-shadow: 20px 20px 40px 8px rgb(0 0 0 / 50%);
}

._index_home > div.welcome {
    display: grid;
    place-content: center;
}
._index_home > div.welcome > div {
    height: 100%;
    padding: 24px;
}
._index_home > div.welcome > div > h2 {
    font-size: 240%;
    font-weight: 300;
}
._index_home > div.welcome > div > h1 {
    font-size: 420%;
    margin-bottom: 8px;
}
._index_home > div.welcome > div > p {
    
    font-size: 160%;
    font-weight: 300;
    margin-bottom: 40px;
}
._index_home > div.welcome > div > button {
    padding: 12px 32px;
    font-size: 160%;
    border-radius: 8px;
    border-style: none;
    background-color: var(--clr-primary);
}