._index_about {
    height: 100%;
    width: 100%;
}

._index_about > div.about {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 48px;
    width: calc(100% - 48px);
}
@media (max-width: 1200px) {
    ._index_about > div.about {
        display: block;
        width: 100%;
    }
    ._index_about > div.about > div > img {
        width: calc(100% - 48px) !important;
    }
}

._index_about > div.about > div {
    width: 100%;
    display: grid;
    place-content: center;
}
._index_about > div.about > div > img {
    max-width: 600px;
    margin: 24px;
    box-shadow: 20px 16px 16px 4px rgb(0 0 0 / 40%);
    transform: rotate(-1deg);
    border-radius: 12px;
    transition: transform 200ms;
}
._index_about > div.about > div > img:hover {
    transform: scale(108%);
}
._index_about > div.about > div > h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 320%;
    font-weight: 400;
}
._index_about > div.about > div > div > p {
    text-align: justify;
    margin-bottom: 24px;
    font-size: 143%;
    font-weight: 300;
}
._index_about > div.about > div > div > button {
    padding: 12px 32px;
    font-size: 143%;
    font-weight: 300;
    border-radius: 8px;
}
@media (max-width: 360px) {
    ._index_about > div.about > div > div > button {
        width: 100%;
        margin-bottom: 8px;
    }
}
._index_about > div.team {
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
._index_about > div.team > h1 {
    text-align: center;
    font-weight: 400;
    font-size: 320%;
}
._index_about > div.team > div.head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
._index_about > div.team > div.head > div.title {
    padding: 24px 24px 32px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 200px auto;
    width: auto;
    grid-gap: 40px;
    max-width: calc(100% - 40px);
}
@media (max-width: 740px) {
    ._index_about > div.team > div.head > div.title {
        display: block;
        width: 100%;
    }
    ._index_about > div.team > div.head > div.title > img {
        width: 256px !important;
        margin-left: calc(50% - 128px);
        margin-right: calc(50% - 128px);
        margin-bottom: 16px;
    }
    ._index_about > div.team > div.head > div.title > div > h1,
    ._index_about > div.team > div.head > div.title > div > h2 {
        text-align: center;
    }
}
@media (max-width: 360px) {
    ._index_about > div.team > div.head > div.title > img {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

._index_about > div.team > div.head > div.title > img {
    width: 100%;
    border-radius: 24px;
    transition: transform 200ms, border-radius 200ms;
    box-shadow: 14px 8px 12px 0px rgb(0 0 0 / 40%);
}
._index_about > div.team > div.head > div.title > img:hover {
    transform: scale(106%) rotate(1deg);
    border-radius: 12px;
}

._index_about > div.team > div.head > div.title > div {
    display: grid;
    place-content: center;
}

._index_about > div.team > div.head > div.title > div > h1 {
    font-size: 320%;
    font-weight: 300;
}

._index_about > div.team > div.head > div.title > div > h2 {
    font-size: 160%;
    font-weight: 600;
}


._index_about > div.team > div.box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
._index_about > div.team > div.box > div {
    height: auto;
    width: 240px;
    display: grid;
    justify-content: center;
}
._index_about > div.team > div.box > div > div {
    width: 100%;
    display: grid;
    place-content: center;
}
._index_about > div.team > div.box > div > div > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 24px;
    transition: transform 200ms, border-radius 200ms;
    box-shadow: 14px 8px 12px 0px rgb(0 0 0 / 40%);
    cursor: pointer;
}
._index_about > div.team > div.box > div > div > img:hover {
    transform: scale(106%) rotate(1deg);
    border-radius: 12px;
}

._index_about > div.team > div.box > div > h1 {
    margin-top: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 160%;
}

._index_about_modal {
    overflow-y: auto;
    height: calc(100% - 96px);
    max-height: 960px;
    width: 840px;
    margin: 48px 0;
    background: linear-gradient(340deg, rgb(235, 240, 245) 0%, rgb(244, 248, 255) 100%);
    border-radius: 16px;
    position: relative;
}
@media (max-width: 880px) {
    ._index_about_modal {
        width: 100%;
    }
        
    ._index_about_modal > div.x > i {
        font-size: 100% !important;
        margin: 16px !important;
    }

    ._index_about_modal > div.header > h1 {
        font-size: 200% !important;
    }
    ._index_about_modal > div.content > div.personnel {
        justify-content: center;
        grid-template-columns: 100% !important;
    }

}
@media (max-width: 720px) {
    .__modal > div {
        display: block !important;
    }
    ._index_about_modal {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        max-height: 100% !important;
        width: 100% !important;
        border-radius: 0;
    }
}

._index_about_modal > div.x {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
}
._index_about_modal > div.x > i {
    font-size: 200%;
    margin: 24px;
    cursor: pointer;
}
._index_about_modal > div.header > h1 {
    text-align: center;
    margin: 24px;
    font-size: 280%;
    font-weight: 300;
}
._index_about_modal > div.content {
    margin: 24px;
}
._index_about_modal > div.content > div.head {
    height: auto;
    width: 100%;
}
._index_about_modal > div.content > div.head > div {
    display: flex;
    justify-content: center;
}
._index_about_modal > div.content > div.personnel > div {
    display: flex;
}
._index_about_modal > div.content > div.head > div > img {
    height: 100%;
    max-height: 156px;
    margin: 0 24px 0;
    border-radius: 73% 27% 70% 30% / 28% 74% 26% 72%;
    transition: transform 200ms, border-radius 200ms;
    box-shadow: 14px 8px 12px 0px rgb(0 0 0 / 40%);
}
._index_about_modal > div.content > div.head > div > img:hover {
    transform: scale(116%);
    border-radius: 17% 83% 17% 83% / 86% 14% 86% 14%;
}

._index_about_modal > div.content > div.head > div > div,
._index_about_modal > div.content > div.personnel > div > div {
    display: grid;
    place-content: center;
}
._index_about_modal > div.content > div.head > div > div > h1{
    font-size: 260%;
    font-weight: 300;
}
._index_about_modal > div.content > div.head > div > div > h2 {
    font-weight: 900;
}

._index_about_modal > div.content > div.personnel {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
}

._index_about_modal > div.content > div.personnel > div > div > h1 {
    font-size: 180%;
    font-weight: 300;
}
._index_about_modal > div.content > div.personnel > div > div > h2  {
    font-size: 100%;
    font-weight: 900;
}

._index_about_modal > div.content > div.personnel > div > img {
    height: 100%;
    max-height: 144px;
    margin: 0 12px 0;
    border-radius: 73% 27% 70% 30% / 28% 74% 26% 72%;
    transform: scale(80%);
    transition: transform 200ms, border-radius 200ms;
    box-shadow: 14px 8px 12px 0px rgb(0 0 0 / 40%);
}
._index_about_modal > div.content > div.personnel > div > img:hover {
    transform: scale(106%);
    border-radius: 17% 83% 17% 83% / 86% 14% 86% 14%;
}

._index_about > .flex-credit {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    opacity: 0.5;
}